* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 24px Helvetica, Arial;
}

form {
  background: #000;
  bottom: 0;
  padding: 3px;
  position: fixed;
  width: 100%;
}

form input {
  border: 0;
  margin-right: 0.5%;
  padding: 10px;
  width: 90%;
}

form button {
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  width: 9%;
}

img{
  border: 1px solid black;
  margin-left: 10px;
}

#messages {
  list-style-type: none;
  margin-right: 500px;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#chat {
  width: 100%;
  float:left;
}

#canvas {
  border: 1px solid black;
  /* margin-left:520px; */
  float:right;
}

#test {
  height: 1px;
  width:100%;
  position:fixed;
}

#test2 {
  width: 500px;
  float: right;
  margin-top: 600PX;
  position: fixed;
  margin-left: 67%;
}

#clear {
  margin-right: 20%;
  float: right;
  background: rgb(130, 224, 255);
  border: 2px solid black;
  padding: 10px;
  width: 78px;
}

#sendPic {
  margin-left: 30%;
  background: rgb(130, 224, 255);
  border: 2px solid black;
  padding: 10px;
  width: 78px;
}

#messages li {
  width: 100%;
  padding: 5px 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#messages li:nth-child(odd) {
  background: #efe;
}

#chat-win {
  padding-bottom: 4%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
