* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 24px Helvetica, Arial;
}

form {
  background: #000;
  bottom: 0;
  padding: 3px;
  position: fixed;
  width: 100%;
}

form input {
  border: 0;
  margin-right: 0.5%;
  padding: 10px;
  width: 90%;
}

form button {
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  width: 9%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#chat{
  width: 67%;
}

#canvas{
  border: 1px solid black;
}

#can{
  position: fixed;
  float: right;
}

#test{
  margin-left:205%;
}

#clear{
  margin-right: 100px;
  float:right;
  background: rgb(130, 224, 255);
  border: 2px solid black;
  padding: 10px;
  width: 10%;
}

#test2{
  width: 50%;
  float: right;
  margin-top: 35%;
  position: fixed;
  margin-left: 55%;
}

#sendPic{
  margin-left: 30%;
  background: rgb(130, 224, 255);
  border: 2px solid black;
  padding: 10px;
  width: 10%;
}

#messages li {
  padding: 5px 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#messages li:nth-child(odd) {
  background: #efe;
}

#chat-win {
  padding-bottom: 4%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
